.home {
	padding: 5px 30px;
	min-height: 100%;
	width: 100%;
	text-align: justify;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home p {
	margin-bottom: 40px;
}

.request {
	max-width: 350px;
	width: 100%;
}

.request .group:last-child {
	margin-bottom: 20px;
}

.group {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}

.group label {
	text-align: left;
	padding-bottom: 10px;
}

.group p {
	padding: 10px 0px;
	margin: 0;
	text-align: center;
}

.group select {
	position: relative;
	display: inline-block;
	min-width: 16em;
	padding: 0.5rem;
	border: 0.1rem solid #000;
	border-radius: 0.25rem;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: 0.075em;
	background: #fff;
}

.footer {	
	text-align: center;
}

@media only screen 
    and (min-height : 700px) {
	.footer {
		position: absolute;
		bottom: 30px;
	}
}

p.safe {
	font-size: 20pt;
	margin: 0;
	margin-bottom: 10px;
}

.home a {
	color: var(--text);
}

.home a:focus,
.home a:active,
.home a:hover {
	color: var(--text);
}