/**

	Colors:

	Header Background:
	#779389

	Indicator green
	#64C489

	Indicator yellow
	#FFCE00

	Indicator red
	#E96561

	Background list element
	#F2F2F2

	Text Color
	#4A4A4A

	List Background
	#ffffff

	Yellow Leaf
	#fff974

**/


html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #fff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

.btn {
  display: inline-block;
  min-width: 16em;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0.125rem 0 rgba(119, 147, 137, 0.3);
  border: 0.2rem solid #779389;
  border-radius: 0.25rem;
  text-transform: uppercase;
  white-space: nowrap;
	letter-spacing: 0.075em;
}
.btn.primary {
  background: #779389 !important;
  color: white !important;
}
.btn.secondary {
  background: transparent !important;
  color: #779389	 !important;
}
.btn + .btn {
  margin-top: 1.3rem;
}
@media (min-width: 600px) {
	.btn {
    padding: 0.75rem 2rem;
	}
	
  .btn + .btn {
    margin-top: 0;
  }
}

main {
	position: relative;
	z-index: 60;
	background-color: #fff;
	top: 110px;
	border-radius: 30px;
	border-left: none;
	border-bottom: none;
	bottom: 0px;
	box-shadow: 0 -15px 20px -20px #333;
}

.green {
	border-radius: 50%;
	width: 24px;
	height: 24px;
	background-color: #64C489;
}

.yellow {
	border-radius: 50%;
	width: 24px;
	height: 24px;
	background-color: #FFCE00;
}

.red {
	border-radius: 50%;
	width: 24px;
	height: 24px;
	background-color: #E96561;
}

#app {
	height: 100%;
}
