.home {
	padding: 5px 30px;
	min-height: 100%;
	width: 100%;
	text-align: center;
}

.group {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.group label {
	font-size: 16pt;
	text-align: left;
	padding-bottom: 5px;
}

.group select {
	display: inline-block;
  min-width: 16em;
  padding: 0.5rem;
  box-shadow: 0 0.125rem 0 rgba(119, 147, 137, 0.3);
  border: 0.2rem solid #779389;
  border-radius: 0.25rem;
  text-transform: uppercase;
  white-space: nowrap;
	letter-spacing: 0.075em;
}
