.place {
	margin-bottom: 15px;
	border-radius: 14px;
	background-color: #F2F2F2;
	color: var(---text);
	padding-bottom: 5px;
}

.placeHeader {
  padding: 15px;
	display: flex;
	align-items: baseline;
}

.placeDetails {
	padding-left: 15px;
	position: relative;
	width: 100%;
}

.placeName {
	font-size: 14pt;
	font-weight: bold;
}

.placeAddress {
	font-size: 10pt;
	padding-top: 4px;
}

.more {
	margin: 5px;
	padding: 5px;
	font-size: 10pt;
	position: relative;
	background-color: var(--white);
	border-radius: 14px;
}

.more button {
	width: 100%
}

.moreCollapsed {
	display: none;
}

.live {
	position: absolute;
	right: 10px;
	background-color: var(--cyan);
	color: var(--grey);
	border-radius: 10px;
	padding-left: 4px;
	padding-right: 4px;
}

.fav {
	display: inline-block;
	width: 24px;
	height: 24px;
	border: none;
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 0;
}

.notfav {
	display: inline-block;
	width: 24px;
	height: 24px;
	border: none;
	position: absolute;
	top: 5px;
	right: 5px;
	opacity: 0.3;
	padding: 0;
}