:root {
	--background: #fff;
	--green: rgb(100, 196, 137);
	--pulsegreen: rgba(100, 196, 137, 0.7);
	--yellow: rgb(255, 204, 0);
	--pulseyellow: rgba(255, 204, 0, 0.7);
	--red: rgb(233, 101, 97);
	--pulsered: rgba(233, 101, 97, 0.7);
	--card-background: #F2F2F2;
	--text: #000;
	--border: #4A4A4A;
	--leaf: #fff974;
	--black: #000;
	--white: #fff;
	--grey: #4A4A4A;
	--cyan: #dafffb;
	--lightgrey: #c0c0c0;
	--pink: #ffe8f1;
	--font: 'SF Pro Text', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: var(--background);
	font-family: var(--font);
	font-weight: 400;
	color: var(--text);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

.lead {
	font-weight: 300;
}

.title {
	font-weight: 300;
	background-color: var(--cyan);
}

.btn {
  display: inline-block;
  min-width: 16em;
  padding: 0.5rem 1.5rem;
  border: 0.2rem solid var(--border);
  border-radius: 0.25rem;
  text-transform: uppercase;
  white-space: nowrap;
	letter-spacing: 0.075em;
	font-family: var(--font);
	font-size: 10pt;
}
.btn.primary {
  background: var(--cyan) !important;
	color: var(--text) !important;
  border-radius: 0.5rem;
	border-color: var(--cyan);
	font-weight: 500;
}
.btn.secondary {
  background: var(--pink) !important;
	color: var(--text) !important;
  border-radius: 0.5rem;
	border-color: var(--pink);
	font-weight: 500;
}
.btn + .btn {
  margin-top: 1.3rem;
}
@media (min-width: 600px) {
	.btn {
    padding: 0.75rem 2rem;
	}
	
  .btn + .btn {
    margin-top: 0;
  }
}

main {
	padding-top: 65px;
}

.green {
	border-radius: 50%;
	width: 12pt;
	height: 12pt;
	min-width: 12pt;
	background-color: var(--green);
}

.greenpulse {
	box-shadow: 0 0 0 0 var(--green);
	animation: pulse-green 2s infinite;
}

.yellow {
	border-radius: 50%;
	width: 12pt;
	height: 12pt;
	min-width: 12pt;
	background-color: var(--yellow);
}

.yellowpulse {
	box-shadow: 0 0 0 0 var(--yellow);
	animation: pulse-yellow 2s infinite;
}

.red {
	border-radius: 50%;
	width: 12pt;
	height: 12pt;
	min-width: 12pt;
	transform: scale(1);
	background-color: var(--red);
}

.redpulse {
	box-shadow: 0 0 0 0 var(--red);
	animation: pulse-red 2s infinite;
}

.closed {
	border-radius: 50%;
	width: 12pt;
	height: 12pt;
	min-width: 12pt;
	background-color: var(--grey);
}

@keyframes pulse-green {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 var(--pulsegreen);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 8px rgba(100, 196, 137, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(100, 196, 137, 0);
	}
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 var(--pulsered);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 8px rgba(233, 101, 97, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(233, 101, 97, 0);
	}
}

@keyframes pulse-yellow {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 var(--pulseyellow);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 8px rgba(255, 204, 0, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 204, 0, 0);
	}
}

#app {
	height: 100%;
}
